.dados-container {
  position: relative;
  width: 99vw; /* Use percentage to avoid horizontal scrollbar */
  background: url("./assets/powerima.jpg") no-repeat center center;
  background-size: 105%; /* Cover the entire container */
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  animation: background-pan 10s infinite linear; /* Background animation */
}

@keyframes background-pan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
  z-index: 1;
}

.dados-content {
  position: relative;
  z-index: 2;
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* White background with slight transparency */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Shadow for the form container */
  max-width: 80%; /* Adjust max-width for better responsiveness */
  width: 80%; /* Ensure it doesn't exceed the container width */
  margin: 1em; /* Center the content */
  animation: fadeInUp 1s ease-out; /* Entrance animation */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

.dados-content h1,
.dados-content h2 {
  color: #333;
  margin-bottom: 1rem;
}

.dados-content label {
  display: block;
  margin-bottom: 1rem;
  color: #333;
  font-weight: bold;
}

.dados-content input {
  width: 100%; /* Ensure inputs fit within the container */
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8); /* White shadow behind inputs */
  animation: glow 1.5s infinite alternate; /* Glowing animation */
}

@keyframes glow {
  from {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
  }
  to {
    box-shadow: 0 2px 15px rgba(255, 255, 255, 1);
  }
}

.dados-content button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.dados-content button:hover {
  background-color: #cc0000;
}